main{
    text-align: center;
}

.main-headline {  
    display: table;      
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: #26516D;    
    text-align: center;
    margin: 0 auto;
}
.main-headline::after { 
    height: 4px; 
    content: ""; 
    background: linear-gradient(270deg, #53B263 1.49%, #CED275 97.01%);
    border-radius: 0.3px;
    display: block;
}

@media (min-width: 1220px){
    main {
        margin-top: 40px;
    }

    .main-headline {   
        font-size: 32px;
        line-height: 39px;
    }
}

@media (min-width: 580px) and (max-width: 1220px) {
    main {
        margin-top: 40px;
    }

    .main-headline {   
        font-size: 26px;
        line-height: 31px;
    }
}

@media (max-width: 580px) {
    main {
        margin-top: 32px;
    }

    .main-headline {   
        font-size: 20px;
        line-height: 24px;
    }
}