@media (min-width: 769px) and (max-width: 1219px) {
    .main-blog-info > aside {
        display: none;
    }

    .about-us-tag {
        margin-bottom: 70px;
    }

    .about-us-tag > a {
        background: #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;    
        color: #26516D;
        box-sizing: border-box;
        margin: 8px 10px;
    }

    .about-us-tag > a::before {
        content: "#";
    }

    .products-block, .service-links-block {
        margin-bottom: 96px;
    }

    .product {
        width: 330px;
        margin-top: 32px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    }
}