@media (min-width: 769px) and (max-width: 1219px) {
    .main-blog-info > aside {
        display: none;
    }

    .about-us-tag {
        margin-bottom: 70px;
    }

    .about-us-tag > a {
        background: #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;    
        color: #26516D;
        box-sizing: border-box;
        margin: 8px 10px;
    }

    .about-us-tag > a::before {
        content: "#";
    }

    .product {
        width: 330px;
        margin-top: 32px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    }

    .faq {
        width: 100%;
    }

    .reviews-networks > li {
        margin-right: 30px;
    }
    
    .reviews-networks {
        margin: 30px 0 34px;
    }

    .share-platforms {
        margin-top: 13px;
    }

    .share-platforms > li {
        display: flex;
        margin-top: 20px;
    }

    .post-review-info-network {
        display: none;
    }

    .add-your-comment {
        margin-bottom: 81px;
    }

    .type-your-info {
        flex-flow: row;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .type-your-info > h3, .type-your-info > input[type="text"], .type-your-info > p {
        display: none;
    }

    .headline-comment-block {
        display: flex;
        justify-content: space-between;
    }

    .flag-minus > button {
       display: none;
    }

    .comments-block {
        margin-top: 50px;
    }

    .rating-block {
        display: flex;
    }

    .rating-block > button {
        display: flex;
        align-items: center;
        background: #FFFFFF;
        border: none;
        cursor: pointer;
    }

    .rating-block > button > img {
        width: 14px;
    }
    
    .rating-block > .top {
        margin: 0 5px 0 12px;
    }

    .rating-block > .bottom {
        margin: 0 12px 0 5px;
        transform: rotate(180deg);
    }

    .share-block {
        display: flex;
        list-style: none;
        margin-left: 15px;
    }

    .share-block > li {
        margin-right: 5px;
    }

    .rating-block-phone {
        display: none;
    }

    .share, .review-comment > div {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #909090;
    }
}