@media (min-width: 1220px){
    .main-blog-info {
        margin-top: 53px;
        display: flex;
        justify-content: space-between;
    }

    .main-blog-info > aside {
        width: 280px;
    }

    .work {
        width: 904px;
    }

    .work-headline {
        font-size: 32px;
        line-height: 48px;
    }

    .about-us-tag {
        margin-bottom: 42px;
    }    

    .about-us-tag > a {
        background: #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;    
        color: #26516D;
        box-sizing: border-box;
        margin: 8px 10px;
        margin-left: 0;
    }

    .about-us-tag > a::before {
        content: "#";
    }

    .products-block {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: auto;
    }

    .product {
        width: 280px;
        margin-top: 32px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    }

    .faq-block {
        width: 100% !important; 
    }

    .faq {
        width: 100%;
    }

    .reviews-networks > li {
        margin-right: 30px;
    }
    
    .reviews-networks {
        margin: 22px 0 40px;
    }


    .search-post {
        width: 100%;
        display: flex;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
    }

    .search-post > button {
        width: 20%;
        background-color: #FFFFFF;
        border: none;
    }

    .search-post > button > img {
        width: 15px;
        padding: 15px;
        margin: 1px;
        margin-right: 0;
    }

    .search-post > input {
        width: 80%;
        background-color: #FFFFFF;
        border: none;
    }

    .search-post > input::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;        
        color: #9A9A9A;        
        opacity: 0.6;
    }

    aside h2 {
        text-align: left;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #222222;
        margin: 25px 0 14px;
    }

    .popular-post {
        margin-top: 7px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        list-style: none;
        text-align: left;
        padding: 2px 18px;
    }

    .popular-post > li {
        margin: 12px 0;
    }

    .popular-post > li > a {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #5C78BF;
    }

    .popular-post-creater {
        margin-top: 7px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        list-style: none;
        text-align: left;
        padding: 2px 18px;
    }
    
    .popular-post-creater > li {
        margin: 12px 0;
    }

    .popular-post-creater > li > a {
        display: flex;
        align-items: flex-start;
    }

    .popular-post-creater > li > a > img {
        margin-top: 7px;
        width: 24px;
    }

    .popular-post-creater > li > a > div {
        margin-left: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #5C78BF;
    }

    .platforms {
        margin-top: 7px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        list-style: none;
        text-align: left;
        padding: 2px 18px;
    }

    .platforms > li {
        margin: 12px 0;
    }

    .platforms > li > a {
        display: flex;
        align-items: flex-start;
    }

    .platforms > li > a > img {
        width: 24px;
    }

    .platforms > li > a > div {
        margin-left: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #5C78BF;
    }

    .suggest-topic {
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-flow: column;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        padding: 14px 18px;
        box-sizing: border-box;        
    }

    .suggest-topic > h3 {
        text-align: left;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #222222;
        margin-bottom: 16px;
    }

    .suggest-topic > input[type="text"] {
        padding: 15px 19px;
        border: 1px solid #E3E3E3;
        box-sizing: border-box;
        border-radius: 6px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;        
        color: #9A9A9A;
        margin-bottom: 10px;
    }

    .suggest-topic > input[type="text"]::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;        
        color: #9A9A9A;        
        opacity: 0.6;
    }

    .suggest-topic > input[type="button"] {
        padding: 14px 0;
        text-align: center;
        border-radius: 6px;
        background: #53B263;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;        
        color: #FFFFFF;
    }

    .mailing-list {
        width: 100%;
        background: linear-gradient(270deg, #CED275 1.49%, #53B263 97.01%);
        border-radius: 5px;
        padding: 15px;
        display: flex;
        flex-flow: column;
        box-sizing: border-box;
        margin-top: 30px;
    }

    .text-mailing-list {
        display: flex;
        align-items: flex-start;
        margin-bottom: 12px;
    }

    .text-mailing-list > img {
        width: 56px;
    }

    .text-mailing-list > p { 
        text-align: left;       
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        margin-left: 12px;
    }

    .mailing-list > input[type="text"] {
        padding: 15px 19px;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;        
        color: #9A9A9A;
        margin-bottom: 10px;
    }

    .mailing-list > input[type="text"]::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;        
        color: #9A9A9A;        
        opacity: 0.6;
    }

    .mailing-list > input[type="button"] {
        padding: 14px 0;
        text-align: center;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        background: #FFFFFF;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;        
        color: #53B263;
    }

    .headline-comment-block {
        display: flex;
        justify-content: space-between;
    }

    .flag-minus > button {
        background: #FFFFFF;
        border: none;
        cursor: pointer;
    }

    .comments-block {
        margin-top: 50px;
    }

    .rating-block {
        display: flex;
    }

    .rating-block > button {
        display: flex;
        align-items: center;
        background: #FFFFFF;
        border: none;
        cursor: pointer;
    }

    .rating-block > button > img {
        width: 14px;
    }
    
    .rating-block > .top {
        margin: 0 5px 0 12px;
    }

    .rating-block > .bottom {
        margin: 0 12px 0 5px;
        transform: rotate(180deg);
    }

    .share-block {
        display: flex;
        list-style: none;
        margin-left: 15px;
    }

    .share-block > li {
        margin-right: 5px;
    }

    .rating-block-phone {
        display: none;
    }

    .share, .review-comment > div {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #909090;
    }
}