.technologies-view {
    display: flex;
    flex-flow: row wrap;
}

.technology > a {
    display: flex;
    flex-flow: column;
}
 
.technology > a > h2 {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;    
    color: #26516D;
}