@media (min-width: 769px) and (max-width: 1219px) {
    .about-us {
        margin-bottom: 70px;
    }

    .equipment-block {
        margin-top: 54px;
    }

    #EquipmentBlock > .equipment:nth-child(1), #EquipmentBlock > .equipment:nth-child(2) {
        display: block !important;
    }
    
    .equipment {
        display: none;
        width: 312px;
    }

    .next, .back {
        padding: 5px;
    }

    .next > img, .back > img {
        width: 15px;
        height: 15px;
    }

    .chevron {
        bottom: 245px;
    }

    .team-person {
        width: 330px;
        margin-top: 30px;
    }

    .tablets-none {
        display: none;
    }
}