@media (max-width: 768px) {  
    .products-block, .service-links-block, .blog-block {
        margin-top: 40px;
    }

    .slider-main {
        width: 100%;
    }

    .product, .blog {
        width: 100%;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    }
 
    .blog {
        margin-bottom: 30px;
    }
    
    .reviews {
        flex-flow: row wrap;
    }

    .elegance-block {
        flex-flow: column;
        align-items: center;
    }

    .elegance {
        margin-bottom: 71px;
    }

    .faq-block {
        display: flex;
        flex-flow: row wrap;
    }

    .faq {
        margin-top: 54px;
        width: 100%;
    }

    .technologies-view {
        justify-content: space-between;
    }

    .technology {
        margin-top: 40px;
        width: 100%;
    }

    .sponsors-main {
        flex-flow: row wrap;
    }
}