@media (max-width: 768px) {
    .chevron-main-slider {
        display: none;
    }
 
    .slider-main-text {
        position: relative;
        text-align: left;
        color: #FFFFFF;
        bottom: 115px;
        margin-bottom: -128px;
        max-width: 385px;
    }
    
    .slider-main-text > h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 0px 4px #000000;
        margin-bottom: 9px;
    }

    .slider-main-text > p {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
        text-shadow: 0px 0px 4px #000000;
    } 

    .slider-main {
        width: 100%;
        height: 258px;
    }

    .slider-main > img {
        width: 100%;
        height: 258px;
    }

    .products-block, .service-links-block, .blog-block {
        margin-top: 40px;
    }

    .products-block > .product:nth-child(1),
    .service-links-block > .product:nth-child(1) {
        display: block  !important;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    }
    
    .products-block > .product, .service-links-block > .product {
        display: none;
    }

    .reviews-block {
        margin-top: 40px;
    }

    .reviews {
        justify-content: center;
    }

    .reviews > .review {
        width: 312px;
        display: none;
    }

    .reviews > .review:nth-child(1) {
        display: block !important;
    }
    
    .chevron-product {
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
    }

    .chevron-product > ul {
        margin-top: 20px;
        list-style: none;
        display: flex;
    }

    .chevron-product > ul > li {        
        font-size: 0;
        cursor: pointer;
        margin: 6px;
        width: 8px;
        height: 8px;
        border-radius: 6px;
        background: #C4C4C4;
        opacity: 0.7;
    }

    .chevron-product > ul > .active {
        background: #53B263 !important;
        opacity: 1 !important;
    }

 
    .blog {
        margin-bottom: 30px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
    }

    .main-list-help > li > h3 {
        text-overflow: clip;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .reviews {
        flex-flow: row wrap;
    }

    .elegance-block {
        flex-flow: column;
        align-items: center;
    }

    .elegance {
        margin-bottom: 50px;
    }

    .faq-block {
        display: flex;
        flex-flow: row wrap;
    }

    .faq {
        margin-top: 54px;
        width: 100%;
    }

    .faq-block {
        margin-bottom: 70px;
    }

    .technologies-view {
        justify-content: space-between;
    }

    .technology {
        margin-top: 40px;
        width: 100%;
    }

    .technology > div > h2 {
        margin-top: 20px;
    }

    .sponsors-main {
        margin-top: 60px;
        flex-flow: row wrap;
        justify-content: center;
    }

    .sponsors-main > a {
        width: 138px;
        display: none;
    }

    .sponsors-main > a:nth-child(1) {
         display: block !important;
     }
     
    .chevron {
        position: relative;
    }
    
    .next, .back {
        position: absolute;
        display: inline-block;
        padding-bottom: 5px;
        cursor: pointer;
        border: 1px solid #193D4E;
        box-sizing: border-box;
        border-radius: 6px;
        opacity: 0.3;
    }
    
    .next {
        right: 0;
    }
    
    .back {
        left: 0;
    }

    .next, .back {
         padding: 5px 8px;
    }
 
    .next > img, .back > img {
         width: 15px;
         height: 15px;
    }
 
    .chevron {
        bottom: 45px;
    }
}