@media (min-width: 1220px){
    .main-blog-info {
        margin-top: 53px;
        display: flex;
        justify-content: space-between;
    }

    .main-blog-info > aside {
        width: 280px;
    }

    .work {
        width: 904px;
    }

    .work-headline {
        font-size: 32px;
        line-height: 48px;
    }

    .about-us-tag > a {
        background: #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;    
        color: #26516D;
        border: 1px solid #26516D;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 13px 40px 14px 40px;
        margin: 8px 10px;
    } 

    .products-block , .service-links-block {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: 120px;
        width: auto;
    }

    .product {
        width: 280px;
        margin-top: 32px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    }

    .faq-block {
        width: 100% !important; 
    }

    .faq {
        width: 100%;
    }

    .reviews-networks > li {
        margin: 0 30px;
    }
    
    .reviews-networks {
        margin: 30px 0 34px;
    }

    .search-post {
        width: 100%;
        display: flex;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
    }

    .search-post > button {
        width: 20%;
        background-color: #FFFFFF;
        border: none;
    }

    .search-post > button > img {
        width: 15px;
        padding: 15px;
        margin: 1px;
        margin-right: 0;
    }

    .search-post > input {
        width: 80%;
        background-color: #FFFFFF;
        border: none;
    }

    .search-post > input::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;        
        color: #9A9A9A;        
        opacity: 0.6;
    }

    aside h2 {
        text-align: left;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #222222;
        margin: 25px 0 14px;
    }

    .popular-post-creater {
        margin-top: 7px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        list-style: none;
        text-align: left;
        padding: 2px 18px;
    }
    
    .popular-post-creater > li {
        margin: 12px 0;
    }

    .popular-post-creater > li > a {
        display: flex;
        align-items: flex-start;
    }

    .popular-post-creater > li > a > img {
        margin-top: 7px;
        width: 24px;
    }

    .popular-post-creater > li > a > div {
        margin-left: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #5C78BF;
    }

    .platforms {
        margin-top: 7px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        list-style: none;
        text-align: left;
        padding: 2px 18px;
    }

    .platforms > li {
        margin: 12px 0;
    }

    .platforms > li > a {
        display: flex;
        align-items: flex-start;
    }

    .platforms > li > a > img {
        width: 24px;
    }

    .platforms > li > a > div {
        margin-left: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #5C78BF;
    }
}