@media (max-width: 768px) {  
    .headline-material {
        font-size: 20px;
        line-height: 30px; 
    }
    
    .main-info-reviews-nocomputer {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        text-align: left;
        margin-bottom: 16px;
    }

    .main-info-reviews-nocomputer > span {
        margin-bottom: 8px;
        order: -1;
    }

    .main-info-coust-about-all {
        flex-flow: column;
    }
    
    .main-buy-materials {
        flex-flow: row;
    }

    .main-buy-materials > a {
        margin-top: 31px;
        margin-bottom: 0;
    }

    .view-info-block {
        flex-flow: column;
    }

    .view-image-reviews {
        width: 100%;
    }

    .view-image > img {
        display: none;
    }

    .active-img {
        display: block !important;
    }    

    .reviews-networks, .main-info-reviews {
        display: none;
    }
    
    .computer-button {
        display: none;
    }

    .main-ingo-about-all {
        width: 100%;
    }
    
    .descripsion {
        display: none;
    }

    .material-info-block {
        width: 100% !important;
    }
    
    .material-info {
        flex-flow: column;
    }
    
    .material-info > li {
        text-align: left;
        padding: 24px 38px 27px;
        border-top: 1px solid #ECECEC;
    }

    .material-info > li:last-child {
        border-bottom: 1px solid #ECECEC;
    }

    .product {
        width: 330px;
        margin-top: 32px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    }
}