* {
    font-family: "Gilroy";
    margin: 0;
    padding: 0;
    text-decoration: none;
}

    /* up nav */
.info-block {
    display: flex; 
    align-items: flex-start;
}

.menu-icon {
    width: 24px;
    height: 24px;
    margin-top: 26px;
    cursor: pointer;
}

.info-blog-up-menu {
    display: flex;
}

.time-loud {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 118px;
    height: 42px;
}

.time-loud img {
    width: 27px;
}

.lun-vie {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}
    /* up nav end */

    /* breadcrumbs */
.breadcrumbs {
    margin-top: 40px !important;
}

.breadcrumbs ul {
    display: flex;
    flex-flow: row  wrap;
}

.breadcrumbs-link {
    margin-left: 22px;
    list-style-image: url("../../image/icon-after.png");
}

.breadcrumbs-link > a{
    font-family: "Gilroy";
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3F4472;
    opacity: 0.6;
}


.breadcrumbs-link:first-child {
    margin-left: 0;
    list-style-image: none !important;
    list-style-type: none;
}

.breadcrumbs-link:last-child > a {
    opacity: 1;
}
    /* breadcrumbs end*/