@media (max-width: 768px) {
    footer {
        margin-top: 70px;
    }

    .footer-part-one {
        flex-flow: column;
        align-items: flex-start;
    }

    .newsletter {
        margin-top: 23px;
        margin-left: 0;
    }

    .news-pull {
        margin-top: 10px;
        margin-left: 0;
        margin-bottom: 16px;   
    }

    .news-pull > div {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
    }

    .news {
        width: 100%;     
    }

    .input-news > button { 
        order: 3; 
        margin-top: 16px;
    }

    .news-call-back {
        order: 2;
    }

    .footer-part-two {
        flex-flow: column;
    }

    .useful-links {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .useful-links > .logo{
        width: 261px;
    }

    .social-network {
        margin-left: 20px;
    }

    .social-network, .awards-sponsors {
        margin-top: 38px;
    }

    .awards-sponsors {
        order: -1;
        display: flex;
        justify-content: space-between;
    }

    .sponsors{
        margin-left: 48px;
        display: flex;
        flex-flow: column;
    }

    .sponsors > a > img {
        margin-bottom: 39px;
    }

    .awards {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .awards > img {
        margin-bottom: 8px;
    }

    .social-network {
        display: flex;
        align-items: center;
    }

    .social-network > a {
        margin-right: 20px;
    }

    .footer-part-two > .column{
        order: 3;
    }

    .footer-part-two > .column > img {
        margin-left: 0;
    }

    .footer-nav {
        margin-left: 70px;
        flex-flow: row;
        justify-content: space-between;
    }

    .column > ul > li {
        margin-bottom: 16px;
        list-style: none;
    }

    .one-column-main, .two-column-main {
        flex-flow: column;
    }

    .two-column-main {
        margin-left: 55px;
    }

    .one-column-main > .column:nth-child(1) {
        order: 1;
    }
    
    .one-column-main > .column:nth-child(2) {
        order: 2;
    }
    
    .two-column-main > .column:nth-child(1) {
        order: 2;
    }

    .two-column-main > .column:nth-child(2) {
        order: 1;
    }

    .footer-nav {
        margin-left: 0;
    }
}