@media (max-width: 768px) {    
    .contact-info-block {
        flex-flow: column;
    }
    
    .contact-info {
        order: 2;
        width: 100%;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    } 

    .contact-logo {
        width: 185px;
    }
    
    .contact-form {
        order: 1;
        box-sizing: border-box;
        width: 100%;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        margin-bottom: 40px;
    }
    
    .contact-form > h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .contact-form-reg > div > textarea, .contact-form-reg > div > input {
        padding: 13px 16px;
    }

    .contact-form-reg > div > textarea::placeholder, .contact-form-reg > div > input::placeholder {
        font-size: 16px;
        line-height: 19px; 
    }

    .contact-form-reg > div > textarea::placeholder {
        font-size: 16px;
        line-height: 19px; 
    }

    .contact-form-reg > div > p, .contact-info > h2 {
        font-size: 16px;
    }

    .contact-info > h2 {
        font-size: 14px;
        line-height: 16px;
    }

    .mail, .phone {
        width: 100%;
    }

    .mail > input {    
        box-sizing: border-box;
        width: 100%;
    }
    
    .contact-info, .contact-form {
        padding: 20px 14px;
    }
    
    .place-map {
        margin-top: 54px;
        width: 100%;
    }
}