@media (min-width: 1220px){
    .main-blog-info {
        justify-content: space-between;
        margin-top: 53px;
        display: flex;
    }

    .main-blog-info > aside {
        width: 280px;
    }

    .posts { 
        width: 904px;
    }

    .post {
        width: 280px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        padding-bottom: 26px;
        margin-bottom: 32px;
    }
    
    .post > h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #53B263;
        margin: 16px 0 11px;
    }
    
    .post > p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #193D4E;
    }

    .post > img {
        border-radius: 6px 6px 0 0;
    }

    .post > h2, .post > p, .info-review-post {
        padding: 0 20px;
    }

    .post > p {
        height: 144px;
        text-overflow: clip;        
        overflow: hidden;
        margin-bottom: 22px;
    }

    .post:nth-child(2) > p {
        height: 72px !important;
    }

    .post:nth-child(2) {
        margin-top: 0 !important;
    }

    .post:nth-child(3n + 2) {
        margin-top: -72px;
    } 

    .info-review-post {
        display: flex;
    }
    
    .time-post, .comment-post {
        display: flex;
        align-items: center;
    }

    .comment-post {
        margin-left: 30px;
        margin-top: 8px;
    }

    .time-post > span, .comment-post > span {
        display: inline-block;
        margin-left: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #9A9A9A;
    }

    .comment-post > span {
        margin-bottom: 8px;
    }

    .pagination > ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .pagination > ul > li > a {
        margin: 0 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #3F4472
    }

    .search-post {
        width: 100%;
        display: flex;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
    }

    .search-post > button {
        width: 20%;
        background-color: #FFFFFF;
        border: none;
    }

    .search-post > button > img {
        width: 15px;
        padding: 15px;
        margin: 1px;
        margin-right: 0;
    }

    .search-post > input {
        width: 80%;
        background-color: #FFFFFF;
        border: none;
    }

    .search-post > input::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;        
        color: #9A9A9A;        
        opacity: 0.6;
    }

    aside h2 {
        text-align: left;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #222222;
        margin: 25px 0 14px;
    }

    .popular-post {
        margin-top: 7px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        list-style: none;
        text-align: left;
        padding: 2px 18px;
    }

    .popular-post > li {
        margin: 12px 0;
    }

    .popular-post > li > a {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #5C78BF;
    }

    .popular-post-creater {
        margin-top: 7px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        list-style: none;
        text-align: left;
        padding: 2px 18px;
    }
    
    .popular-post-creater > li {
        margin: 12px 0;
    }

    .popular-post-creater > li > a {
        display: flex;
        align-items: flex-start;
    }

    .popular-post-creater > li > a > img {
        margin-top: 7px;
        width: 24px;
    }

    .popular-post-creater > li > a > div {
        margin-left: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #5C78BF;
    }

    .platforms {
        margin-top: 7px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        list-style: none;
        text-align: left;
        padding: 2px 18px;
    }

    .platforms > li {
        margin: 12px 0;
    }

    .platforms > li > a {
        display: flex;
        align-items: flex-start;
    }

    .platforms > li > a > img {
        width: 24px;
    }

    .platforms > li > a > div {
        margin-left: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #5C78BF;
    }

    .suggest-topic {
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-flow: column;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        padding: 14px 18px;
        box-sizing: border-box;        
    }

    .suggest-topic > h3 {
        text-align: left;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #222222;
        margin-bottom: 16px;
    }

    .suggest-topic > input[type="text"] {
        padding: 15px 19px;
        border: 1px solid #E3E3E3;
        box-sizing: border-box;
        border-radius: 6px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;        
        color: #9A9A9A;
        margin-bottom: 10px;
    }

    .suggest-topic > input[type="text"]::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;        
        color: #9A9A9A;        
        opacity: 0.6;
    }

    .suggest-topic > input[type="button"] {
        padding: 14px 0;
        text-align: center;
        border-radius: 6px;
        background: #53B263;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;        
        color: #FFFFFF;
    }

    .mailing-list {
        width: 100%;
        background: linear-gradient(270deg, #CED275 1.49%, #53B263 97.01%);
        border-radius: 5px;
        padding: 15px;
        display: flex;
        flex-flow: column;
        box-sizing: border-box;
        margin-top: 30px;
    }

    .text-mailing-list {
        display: flex;
        align-items: flex-start;
        margin-bottom: 12px;
    }

    .text-mailing-list > img {
        width: 56px;
    }

    .text-mailing-list > p { 
        text-align: left;       
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        margin-left: 12px;
    }

    .mailing-list > input[type="text"] {
        padding: 15px 19px;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;        
        color: #9A9A9A;
        margin-bottom: 10px;
    }

    .mailing-list > input[type="text"]::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;        
        color: #9A9A9A;        
        opacity: 0.6;
    }

    .mailing-list > input[type="button"] {
        padding: 14px 0;
        text-align: center;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        background: #FFFFFF;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;        
        color: #53B263;
    }
}